/**
 *
 */

.graphs_r_debug ul {
  padding-left: 4ex;
}

.graphs_r_debug .graphs_r_debug_json {
  margin: 0;
  width: 50%;
  float: left;
}

.graphs_r_debug .graphs_r_debug_json .json {
  width: 95%;
  height: 32em;
  overflow: scroll;
  border: 1px solid black;
  font-family: monospace;
  font-size: 1.6em;
  white-space: pre;
  line-height: 90%;
}

.graphs_r_debug li {
  cursor: pointer;
}

.graphs_r_debug .new-node {
  color: green;
}

.graphs_r_debug .previous-new-node {
  color: orange;
}

.graphs_r_debug .processed-node {
  color: red;
}
